<div class="container">
  <ng-progress style="color:rgb(248, 211, 0)"></ng-progress>
  <form #searchField="ngForm">
    <div class="form-group" style="display: flex">
      <input [(ngModel)]="username" #user="ngModel" type="search" placeholder="search github username"
        name="username" class="form-control" style="border-right-style: none; border-radius: 0; border-color: #000" required>
      <button (click)="searchUser()" type="submit" class="btn btn-outline-dark btn-hov"
        style="border-left-style: none; border-radius: 0"><i class="fas fa-search" style="color: #000"></i></button>
    </div>
    <!-- <div *ngIf="user.touched && user.invalid">
      <small style="color: red;">Username is required</small>
    </div> -->
  </form>
  <hr class="style-one">
  <div *ngIf="notFound && !userProfile" class="mx-auto">
    <img src="src/assets/icons/github.png" alt="" class="mx-auto" height="120" width="120">
    <h2 class="text-center">sorry, user not found <i class="far fa-frown fa-lg"></i></h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="sticky-top s-top" *ngIf="userProfile">
        <h2>Profile</h2>
        <div class="card no-border mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ userProfile.avatar_url }}" class="card-img img-fluid" alt="avatar" width="100" height="180">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ userProfile.name }} <a class="redirect" href="{{ userProfile.html_url }}"
                    target="_blank"><i class="fab fa-github"></i></a></h5>
                <p class="card-text"><span class="text-muted">Username:</span> {{ userProfile.login }}</p>
                <p *ngIf="userProfile.bio" class="card-text"><span class="text-muted">Bio:</span> {{ userProfile.bio }}
                </p>
                <p class="card-text"><span class="text-muted">Member since:</span>
                  {{ userProfile.created_at | dateAgo }}</p>
                <p *ngIf="userProfile.location" class="card-text"><i class="fas fa-map-marker-alt"></i>
                  {{ userProfile.location }}</p>
                <p *ngIf="userProfile.blog" class="card-text"><i class="fas fa-link"></i><a
                    href="{{ userProfile.blog }}" target="_blank"> {{ userProfile.blog }}</a></p>
                <p *ngIf="userProfile.email" class="card-text"><i class="fas fa-envelope-open-text"></i>
                  {{ userProfile.email }}</p>
                <p *ngIf="userProfile.company" class="card-text"><i class="fas fa-briefcase"></i>
                  {{ userProfile.company }}</p>
                <div class="badges">
                  <a style="color:rgb(248, 211, 0);" class="btn btn-dark btn-sm space">
                    Followers <span style="background-color:rgb(248, 211, 0);"
                      class="badge badge-light">{{ userProfile.followers }}</span>
                  </a>
                  <a style="color:rgb(248, 211, 0);" class="btn btn-dark btn-sm space">
                    Following <span style="background-color:rgb(248, 211, 0);"
                      class="badge badge-light">{{ userProfile.following }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">

      <nav *ngIf="userProfile" class="sticky-top s-top-nav bg-light">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a *ngIf="userProfile" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#repos" role="tab" aria-controls="nav-home" aria-selected="true">Repos <span class="badge badge-secondary">{{ userProfile.public_repos }}</span></a>
          <a *ngIf="userProfile" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="nav-profile" aria-selected="false">Followers <span class="badge badge-secondary">{{ userProfile.followers }}</span></a>
          <a *ngIf="userProfile" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#following" role="tab" aria-controls="nav-contact" aria-selected="false">Following <span class="badge badge-secondary">{{ userProfile.following }}</span></a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        
        <div class="tab-pane fade show active" id="repos" role="tabpanel" aria-labelledby="nav-home-tab">
          <div *ngFor="let repo of repos; index as i">
            <div appCardHover class="card bottom-space">
              <div class="card-body">
                <h3>{{ repo.name }} <i *ngIf="repo.fork" class="fas fa-code-branch fa-xs"></i> <span
                    style="font-size:12px; float:right; color:rgb(248, 211, 0); background-color: #393c40"
                    class="badge badge-secondary">{{ repo.language }}</span></h3>
                <p>{{ repo.description }}</p>
                <a href="{{ repo.html_url }}" target="_blank">
                  <button style="color:rgb(248, 211, 0);" class="btn btn-dark">view on GitHub <i
                      class="fab fa-github"></i></button>
                </a>
                <div class="date">
                  <small><span class="text-muted">last modified:</span> {{ repo.updated_at | dateAgo }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div *ngFor="let follower of followers">
            <div style="margin-bottom: 10px;" class="media" appCardHover>
              <img class="profile-thumb" style="height:60px; width:60px;" src="{{ follower.avatar_url }}" class="mr-3" alt="avatar">
              <div class="media-body">
                <a href="{{follower.html_url}}" target="_blank"><h5 class="mt-0">{{ follower.login }}</h5></a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div *ngFor="let follower of following">
            <div style="margin-bottom: 10px;" class="media" appCardHover>
              <img class="profile-thumb" style="height:60px; width:60px;" src="{{ follower.avatar_url }}" class="mr-3" alt="avatar">
              <div class="media-body">
                <a href="{{follower.html_url}}" target="_blank"><h5 class="mt-0">{{ follower.login }}</h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
