<div class="container">
  <ng-progress></ng-progress>
  <form>
    <div class="form-group" style="display: flex">
      <input [(ngModel)]="username" (keyup.enter)="searchUser()" type="search" placeholder="search github username"
        name="username" class="form-control" style="border-right-style: none; border-radius: 0; border-color: #000">
      <button (click)="searchUser()" type="submit" class="btn btn-outline-dark btn-hov"
        style="border-left-style: none; border-radius: 0"><i class="fas fa-search" style="color: #000"></i></button>
    </div>
  </form>
  <hr class="style-one">
  <div *ngIf="notFound && !userProfile" class="mx-auto">
    <img src="src/assets/icons/github.png" alt="" class="mx-auto" height="120" width="120">
    <h2 class="text-center">sorry, user not found <i class="far fa-frown fa-lg"></i></h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div *ngIf="userProfile">
        <h2>Profile</h2>
        <div class="card no-border mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ userProfile.avatar_url }}" class="card-img img-fluid" alt="avatar" width="100" height="180">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ userProfile.name }} <a class="redirect" href="{{ userProfile.html_url }}"
                    target="_blank"><i class="fab fa-github"></i></a></h5>
                <p class="card-text"><span class="text-muted">Username:</span> {{ userProfile.login }}</p>
                <p *ngIf="userProfile.bio" class="card-text"><span class="text-muted">Bio:</span> {{ userProfile.bio }}
                </p>
                <p class="card-text"><span class="text-muted">Member since:</span>
                  {{ userProfile.created_at | dateAgo }}</p>
                <p *ngIf="userProfile.location" class="card-text"><i class="fas fa-map-marker-alt"></i>
                  {{ userProfile.location }}</p>
                <p *ngIf="userProfile.blog" class="card-text"><i class="fas fa-link"></i><a
                    href="{{ userProfile.blog }}" target="_blank"> {{ userProfile.blog }}</a></p>
                <p *ngIf="userProfile.email" class="card-text"><i class="fas fa-envelope-open-text"></i>
                  {{ userProfile.email }}</p>
                <p *ngIf="userProfile.company" class="card-text"><i class="fas fa-briefcase"></i>
                  {{ userProfile.company }}</p>
                <div class="badges">
                  <button style="color:rgb(248, 211, 0);" type="button" class="btn btn-dark btn-sm space">
                    Followers <span style="background-color:rgb(248, 211, 0);"
                      class="badge badge-light">{{ userProfile.followers }}</span>
                  </button>
                  <button style="color:rgb(248, 211, 0);" type="button" class="btn btn-dark btn-sm space">
                    Following <span style="background-color:rgb(248, 211, 0);"
                      class="badge badge-light">{{ userProfile.following }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2 *ngIf="userProfile">Repositories <span class="badge badge-secondary">{{ userProfile.public_repos }}</span>
      </h2>
      <div *ngFor="let repo of repos; index as i">
        <div appCardHover class="card bottom-space">
          <div class="card-body">
            <h3>{{ repo.name }} <i *ngIf="repo.fork" class="fas fa-code-branch fa-xs"></i> <span
                style="font-size:12px; float:right; color:rgb(248, 211, 0); background-color: #393c40"
                class="badge badge-secondary">{{ repo.language }}</span></h3>
            <p>{{ repo.description }}</p>
            <a href="{{ repo.html_url }}" target="_blank">
              <button style="color:rgb(248, 211, 0);" class="btn btn-dark">view on GitHub <i
                  class="fab fa-github"></i></button>
            </a>
            <div class="date">
              <small><span class="text-muted">last modified:</span> {{ repo.updated_at | dateAgo }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
