/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700|Roboto+Mono&display=swap');

body{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    /* background-color: #393c40;
    color: rgb(248, 211, 0); */
}
input:focus{
    outline: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  }

button:focus {
    outline:0;
}

input:focus {
    outline: 0;
}